.dialog {
  height: 100vh;
  outline: none;
  border: none;
  background: none;
  max-width: calc(100% - 100px);
  max-height: calc(100% - 100px);
  width: 100%;
}

.dialog[open] {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dialog::backdrop {
  backdrop-filter: blur(5px);
}
